Orders
<div class="container">
<div class="row">
  <div class="col-md-10">
    <table class="table" id="admin_users_table">
      <tr>
        <td>order id</td>
        <td>Traveller</td>
        <td>Email</td>
        <td>Tour Guide (id)</td>
        <td>preferred date</td>
        <td>preferred place</td>
        <td>final_date</td>
        <td>final_place</td>
        <td>status</td>
        <td>finished</td>
      </tr>
      <% @orders.each do |order|%>
        <tr>
          <td><%= order.id%></td>
          <td><%= order.user.name%></td>
          <td><%= order.user.email%></td>
          <td>
            <%= User.find(order.tour_guide_id).name%>(<%=User.find(order.tour_guide_id).id%>)
          </td>
          <td><%= order.user_prefer_date%></td>
          <td><%= order.user_prefer_place%></td>
          <td><%= order.final_date%></td>
          <td><%= order.final_place%></td>
          <td><%= order.status%></td>
          <td><%= order.finished%></td>
        </tr>
      <%end%>
    </table> 
  </div>
</div>
</div>
