<div class="col-md-12 ">
  <% if current_user == @user%>
    <div><%= link_to "edit", edit_user_path(@user)%></div>
  <% end %>

  <%= link_to user_path(@user), class: "col-md-12" do%>
    <%= image_tag (@user.head_shot), style: "width: 80px; height: 80px; display: inline; border-radius: 10px; position: relative; right: 10px; margin:10px;"%>
  <%end%>

  <hr>
  <div id="user_about" class="col-md-6 col-md-offset-3">
    <h4>About <%= @user.name%></h4>
    <p><%= simple_format(@user.description_English) %></p>
    <p><%= simple_format(@user.description_Chinese) %></p>

    <hr>

    <div id="user_detail">
      <div class="row">
        <p class="col-md-4">Interests</p>
        <p class="col-md-8">
          <% @user.interests.each do |i|%>
            <%= i.name%>/
          <% end %>
        </p>
        <hr>
      </div>
      <div class="row">
        <p class="col-md-4">Profession</p>
        <p class="col-md-8"><%= @user.profession%></p>
        <hr>
      </div>
      <div class="row">
        <p class="col-md-4">Languages</p>
        <p class="col-md-8">
          <% @user.languages.each do |language|%>
            <% if @user.user_language_ships.find_by(:language_id => language.id).level =="Fluent" %>
              <%= language.name%>
              (Fluent)
              /
            <% end %>
          <% end %>
          <% @user.languages.each do |language|%>
            <% if @user.user_language_ships.find_by(:language_id => language.id).level =="Intermediate" %>
              <%= language.name%>
              (Intermediate)
              /
            <% end %>
          <% end %>
        </p>
        <hr>
      </div>
      <div class="row">
        <p class="col-md-4">familiar_areas</p>
        <p class="col-md-8"><%= @user.familiar_areas%></p>
        <hr>
      </div>
      <div class="row">
        <p class="col-md-4">availability</p>
        <p class="col-md-8"><%= @user.availability%></p>
        <hr>
      </div>
      <div class="row">
        <p class="col-md-4">travel_footprints</p>
        <p class="col-md-8"><%= @user.travel_footprints%></p>
        <hr>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%=link_to "Request", new_user_order_path(@user), :class => "btn btn-warning btn-lg col-md-12"%>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div id="user_about" class="col-md-3">
    <% if current_user && @user == current_user%>
      <%= link_to "My Order", user_orders_path(@user), :class => "btn btn-success btn-lg" %>
    <% end %>
  </div>    
</div>

  