<div class="form-group">
  <h3><%= f.label :user_prefer_place ,"Prefer Place"%></h3>  
  <%= f.text_field :user_prefer_place, :class => "form-control" %>
</div>

<div class="form-group">
  <h3><%= f.label :user_prefer_date ,"Prefer Date"%></h3>  
  <%= f.text_field :user_prefer_date, :class => "form-control datepicker", :"data-provide"=>'datepicker'%>
</div>

<div class="form-group" id="tour-guide-checklist">
  <h3>Tour Guide (multiple)<span style="color: red;">*</span></h3> 
  <h3>
    <%= f.collection_check_boxes(:tour_guide_ids, @tour_guide.all, :id, :name)%>  
  </h3>
  
</div>


<%= f.submit "Send",:class => "btn btn-primary" %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    var choose_date ="";
    $('.datepicker').change(function() {
      var date = $('.datepicker').val().split("/");
      var mm = date[0];
      var dd = date[1];
      var yy = date[2];
      choose_date = yy + "/" + mm + "/" + dd;
      $('.datepicker').val(choose_date);
    });
    $("form").click(function(){
      $('.datepicker').val(choose_date);
    });
  });
</script>