<div class="form-group">
  <h3><%= f.label :name ,"What's your name?"%></h3>  
  <%= f.text_field :name, :class => "form-control", value: @user.name %>
</div>

<div class="form-group">
  <h3><%= f.label :email ,"Email"%></h3>  
  <%= f.text_field :email, :class => "form-control", value: @user.email %>
</div>

<div class="form-group">
  <h3><%= f.label :phone_number ,"phone_number"%></h3>  
  <%= f.text_field :phone_number, :class => "form-control", value: @user.phone_number %>
</div>

<div class="form-group" id="tour-guide-checklist">
  <h3>Tour Guide (multiple)<span style="color: red;">*</span></h3> 
  <h3>
    <%= f.collection_check_boxes(:tour_guide_ids, @tour_guide.all, :id, :name)%>  
  </h3>
</div>

<div class="form-group">
  <h3><%= f.label :user_prefer_place ,"Prefer Place"%></h3>  
  <%= f.text_field :user_prefer_place, :class => "form-control" %>
</div>

<div class="form-group">
  <h3><%= f.label :user_prefer_date ,"Prefer Start Date"%></h3>  
  <%= f.text_field :user_prefer_date, :class => "form-control datepicker", :"data-provide"=>'datepicker'%>
</div>

<div class="form-group">
  <h3><%= f.label :country ,"country"%></h3>  
  <%= f.text_field :country, :class => "form-control" %>
</div>

<div class="form-group">
  <h3><%= f.label :language ,"language"%></h3>  
  <%= f.text_field :language, :class => "form-control" %>
</div>

<div class="form-group">
  <h3><%= f.label :people_count ,"How many people go with you?"%></h3>  
  <%= f.number_field :people_count, :class => "form-control", value: 1 %>
</div>

<div class="form-group">
  <h3><%= f.label :request_days ,"request_days"%></h3>  
  <%= f.number_field :request_days, :class => "form-control", value: 1  %>
</div>

<div class="form-group">
  <h3><%= f.label :purpose ,"purpose"%></h3>  
  <%= f.text_field :purpose, :class => "form-control" %>
</div>

<div class="form-group">
  <h3><%= f.label :others ,"Something noted?"%></h3>  
  <%= f.text_area :others, :class => "form-control" %>
</div>


<%= f.submit "Send",:class => "btn btn-primary" %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    var choose_date ="";
    $('.datepicker').change(function() {
      var date = $('.datepicker').val().split("/");
      var mm = date[0];
      var dd = date[1];
      var yy = date[2];
      choose_date = yy + "/" + mm + "/" + dd;
      $('.datepicker').val(choose_date);
    });
    $("form").click(function(){
      $('.datepicker').val(choose_date);
    });
  });
</script>