<div class="row">
  <div class="col-md-10">

    <% if @role == "traveler"%>
        <h1 class="text-center"> This is my request!</h1>
    <% elsif @role == "tour-guide"%>
        <h1 class="text-center">I am a Tour Guide, this is my order.</h1> 
    <% end%>

    <h2>order_id: <%= @order.id%></h2>
    <%= image_tag("#{@order.user.head_shot}", :style =>"width:300px;")%>
    <h2>Traveller: <%= @order.name%> (user_id: <%= @order.user.id%>)</h2> 
    <h2>Email: <%= @order.email%></h2>  
    <h2>gender:  <%= @order.gender%></h2>
    <h2>birthday:  <%= @order.birthday%></h2>
    <h2>phone_number: <%= @order.phone_number%></h2> 
    <h2>Social Media ID:  <%= @order.social_media_id%></h2>
    <h2>preferred date: <%= @order.user_prefer_date%></h2>
    <h2>preferred place: <%= @order.user_prefer_place%></h2>
    <h2>Group Size: <%= @order.people_count%></h2>
    <h2>Duration Days: <%= @order.request_days%></h2>
    <h2>Purpose: <%= @order.purpose%></h2>
    <h2>
        Intrests: 
        <% @order.interests.each do |interest|%>
            <%=interest.name%> /
        <%end%>
    </h2>
    <h2>others: <%= @order.others%></h2>
    <h2>status: <%= @order.status%></h2>
    <h2>finished: <%= @order.finished%></h2>

    <% if @role == "tour-guide"%>
        <% if !@order.status || (@order.status =="")%>
            <h1><%= link_to "Accept", user_order_path(@user, @order, :status =>"accept"),:class => "btn btn-success btn-lg", data: { confirm: "We will send this confirmed mail to traveller. Do you already checked out the detail?" }, :method => "PATCH"%>
            </h1>
        <% elsif @order.status =="accept"%>
            <h1><%= link_to "Reject", user_order_path(@user, @order, :status =>"reject"),:class => "btn btn-danger btn-lg", data: { confirm: "We will send this rejected mail to traveller. Would you already want to reject this request?" }, :method => "PATCH"%>
            </h1>

        <%end%>
    <% end%>
  </div>
</div>