Users
<div class="container">
<div class="row">
  <div class="col-md-10">
    <table class="table" id="admin_users_table">
      <tr>
        <td>id</td>
        <td>email</td>
        <td>role</td>
        <td>edit_role</td>
      </tr
      <% @users.each do |user|%>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td>
            <% user.roles.each do |role|%>
              <% if role.name == "admin"%>
                <%= link_to role.name,"", :class => "btn btn-info"%>
              <%elsif role.name == "tour_guide"%>
                <%= link_to role.name,"", :class => "btn btn-warning"%>
              <%end%>

            <%end%>

            <div class="form-group user-role-form" id="check-box-<%=user.id%>">
              <%=form_for user, :url => admin_user_path(user, :edit_user => user.id), :method => :PATCH do |f| %>
                <h3>
                <%= f.collection_check_boxes :role_ids, Role.all, :id, :name%>
                </h3>
                <br>
                <%= f.submit "確認", class: "btn btn-primary form-control" %>
              <%end%>
            </div>
          </td>
          <td>
            <button class="btn btn-success btn-edit-user-role" user-id="<%=user.id%>">Edit</button> 
          </td>
        </tr>
      <% end %>
    </table> 
  </div>
</div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $(".user-role-form").hide();
  });

  $("#admin_users_table .btn-edit-user-role").click(function(){
    $(".user-role-form").hide();
    var user_id = $(this).attr("user-id");
    var check_box_id = "#check-box-" + user_id;
    $(check_box_id).show();

  });
</script>>
